* {
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.body {
  text-align: center;
}
.cabecera {
  font-size: 30px;
  color: white;
  background-color: black;
  padding:15px
}

.azul {
color: white;
padding: 50px;
padding-left: 2%;
background-color: rgb(0, 183, 255);
text-align: left;
}

.botonverde{
  background-color: rgb(27, 207, 27);
  color: white;
  padding: 20px 162px;
  margin-top: 20px;
  border-radius: 50px;
  border: none;

}
.letrapequeña {
  font-size: 7px;
  padding-top: 30px;

/* FLEXBOX de caja blanca*/
}
.blanco {
  background-color:white;
  padding: 100px;
  display: flex;
  flex-direction: column;

}

article {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
  
}
.footer {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 10px;
  text-align: center;
}

img {
  transform: scale(0.3);
  position: absolute;
  left: 60px;

}

h2 {
  position: relative;
  bottom: 50px;
}
.title {
  text-align: center;
}
.content {
  text-align: center;
}

/* FLEXBOX */

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 15px;
}
.footer-bandera {
  position: relative;
}